html

head
  title File Metadata

body
  form(method="post",enctype="multipart/form-data",action="/")
    p Submit a file to view its file size.
    p
      input(type="file",name="upl")
    p
      input(type="submit")
